<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <groups>
  <run>
  <include name="mobiletest"/>
  </run>	
  </groups>
    <classes>
      <class name="testngexample.Testng_example">
      <methods>
      	<exclude name="mobiletest"/>
      </methods>
      </class>
    </classes>
 </test> <!-- Test -->
 <test name="mobile">
  <classes>
  	<class name="testngexample.Testng_example">
  	<methods>
  	<include name="Finction1"/>
  	</methods>
  	</class>
  </classes>
  </test>
</suite> <!-- Suite -->
